<tr>
    <td><a href="http://code.groupsone.com/p/integer-to-roman.html">Integer to Roman</a></td>
    <td>LeetCode</td>
</tr><tr>
    <td><a href="http://code.groupsone.com/p/a-to-i.html">A to I</a></td>
    <td>LeetCode</td>
</tr><tr>
    <td><a href="http://code.groupsone.com/p/remove-nth-node-from-end-of-list.html">Remove Nth Node From End of List</a></td>
    <td>LeetCode</td>
</tr><tr>
    <td><a href="http://code.groupsone.com/p/balanced-binary-tree.html">Balanced Binary Tree</a></td>
    <td>LeetCode</td>
</tr><tr>
    <td><a href="http://code.groupsone.com/p/remove-duplicates-from-sorted-list.html">Remove Duplicates from Sorted List</a></td>
    <td>LeetCode</td>
</tr><tr>
    <td><a href="http://code.groupsone.com/p/longest-common-prefix.html">Longest Common Prefix</a></td>
    <td>LeetCode</td>
</tr><tr>
    <td><a href="http://code.groupsone.com/p/3sum.html">3Sum</a></td>
    <td>LeetCode</td>
</tr><tr>
    <td><a href="http://code.groupsone.com/p/three-3sum-closest.html">Three 3Sum Closest</a></td>
    <td>LeetCode</td>
</tr><tr>
    <td><a href="http://code.groupsone.com/p/letter-combinations-of-a-phone-number.html">Letter Combinations of a Phone Number</a></td>
    <td>LeetCode</td>
</tr><tr>
    <td><a href="http://code.groupsone.com/p/container-with-most-water.html">Container With Most Water</a></td>
    <td>LeetCode</td>
</tr>